a:active,
a:hover,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.profile-a {
    border-bottom: 1px dotted $color-red;
    padding-bottom: 2px;
    &.commit-repo {
        padding-bottom: 0;
    }
}