h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-family-heading;
    font-size: $font-size-heading;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-medium;
}

h2 {
    font-size: $font-size-xsmall;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    margin-bottom: 40px;
    // margin-left: -5px;
}

h3 {
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-normal;
}
