.simplebar-scrollbar:before {
    background-color: $color-red;
}

.simplebar-track .simplebar-scrollbar.visible:before {
    opacity: .8;
}

.simplebar-track.horizontal {
    display: none !important;
  }

  .simplebar-scroll-content {
    padding-bottom: 0 !important;
    overflow-x: hidden;
  }