.app-container {
    height: 100vh;
}

.app-profile {
    padding: 80px;
    z-index: 2;
    width: 50%;
    position: relative;
    left: 50%;
    
}

.profile-title {
    color: $color-red;
    margin-bottom: 30px;
    font-size: $font-size-large;
}

.profile-section {
    position: relative;
    p {
        font-size: $font-size-small;
        letter-spacing: $letter-spacing-normal;
        line-height: 20px;
    }
    i {
        font-size: $font-size-large;
    }
}

.profile-section + .profile-section {
    margin-top: 40px;
}