.app-container {
    height: 100vh;
}

.app-profile {
    margin-left: 50%;
    position: relative;
    width: 50%;
}

.app-profile-content {
    padding: 80px;
}

.profile-title {
    color: $color-red;
    margin-bottom: 30px;
    font-size: $font-size-large;
}

.profile-section {
    position: relative;
    p {
        font-size: $font-size-small;
        letter-spacing: $letter-spacing-normal;
        line-height: 20px;
    }
    i {
        font-size: $font-size-large;
    }
}

.profile-section + .profile-section {
    margin-top: 40px;
}

.profile-section-description {
    margin-bottom: 40px;
}

.project + .project {
    margin-top: 40px;
}

// Project items:
.project-portfolio {
    background-image: url('/images/still-portfolio-v2.jpg');
}

.project-photosite {
    background-image: url('/images/still-photosite.jpg');
}

.project-image {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 200px;
    width: 100%;
    &::before { // Red background-image overlay.
        content: "";
        background-color: rgba(183, 28, 28, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: .2s ease-in-out;
        z-index: 0; // Must be indexed below interactive links.
    }
    &:hover {
        &::before { // Red background-image overlay.
            content: "";
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: .2s ease-in-out;
            z-index: 1;
        }
    }
}

.project-tech {
    background-color: $color-red-transp;
    bottom: 0;
    color: $color-white;
    display: inline-block;
    padding: 7.5px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 999;
    i {
        font-size: 22px;
        transition: .2s ease-in-out;
        &:hover {
            color: rgba(255, 255, 255, 0.55);
            cursor: help;
            transition: .2s ease-in-out;
        }
    }
    li {
        display: inline-block;
        padding: 3.5px;
    }
}

.project-description {
    @include display-grid;
    @include grid-template-columns(1fr auto);
    @include justify-content(flex-end);
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-medium;
    padding: 20px 0;
}

.project-name {
    @include display-flex;
    font-weight: $font-weight-bold;
}

.project-details {
    @include display-flex;
    @include justify-content(flex-end);
    li {
        i {
            display: inline-block;
            color: $color-red;
            font-size: $font-size-xxsmall;
        }
    }
    li + li {
        margin-left: 20px;
    }
}