.app-portfolio-container {
    width: 50%;
    position: absolute;
    height: 100vh;
    left: 0;
}

.app-portfolio {
    @include display-grid;
    @include grid-template-rows(auto 1fr auto, 0);
    align-items: center;
    background-image: url('../images/bg (2).jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    padding: 60px;
    position: relative;
    height: 100%;
    text-align: center;
    z-index: 0;
    &::after { // Red background-image overlay.
        content: "";
        background-color: rgba(183, 28, 28, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1; // Must be indexed below interactive links.
    }
    i {
        margin-right: 5px;
        width: 20px;
    }
}

.portfolio-title {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.portfolio-title-top {
    color: $color-white;
    font-weight: 300;
    line-height: 60px;
    position: absolute;
    transform: skewY(-5deg);
    z-index: 2;
    padding-left: -30px;
    margin-left: -20px;
    width: 270px;
    white-space: nowrap;
}

.portfolio-title-upper {
    display: block;
}

.portfolio-title-lower {
    padding-left: 50px;
    white-space: nowrap;
}

// Resume download button:
.portfolio-resume {
    align-content: flex-start;
    color: $color-white;
    z-index: 2;
    padding: 20px;
}

.resume-download {
    border: 1px solid $color-white;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-large;
    padding: 20px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
        background-color: $color-white;
        color: $color-red;
        letter-spacing: 4px;
        transition: .2s ease-in-out;
    }
}

// Contact information table:
.portfolio-contact {
    
    color: $color-white;
    font-size: $font-size-xxsmall;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    z-index: 2;
    ul {
        li {
            display: inline-block;
            padding: 10px;
            white-space: nowrap;
            span {
                border-bottom: 1px solid transparent;
                padding-bottom: 1px;
                transition: .2s ease-in-out;
            }
            a:hover {
                span {
                    border-bottom: 1px solid $color-white;
                    transition: .2s ease-in-out;
                }   
            }
        }
        li {
            // margin-top: 20px;
        }
    }
}