.app-portfolio-container {
    width: 50%;
    position: absolute;
    height: 100vh;
    left: 0;
}

.app-portfolio {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px;
    position: relative;
    height: 100%;
    text-align: center;
    width: 100%;
    z-index: 0;
    &::after { // Red background-image overlay.
        content: "";
        background-color: rgba(183, 28, 28, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1; // Must be indexed below interactive links.
    }
    i {
        margin-right: 5px;
        width: 20px;
    }
}

// Title:
.portfolio-title-container {
    @include display-flex;
    @include flex(1);
}

.portfolio-title {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    text-align: center;
}

.portfolio-title-top {
    color: $color-white;
    font-weight: 300;
    line-height: 60px;
    margin-left: -20px;
    padding-left: -30px;
    transform: skewY(-5deg);
    transition: .2s ease-in-out;
    white-space: nowrap;
    width: 270px;
}

.portfolio-title-upper {
    display: block;
}

.portfolio-title-lower {
    padding-left: 50px;
    white-space: nowrap;
}

// Resume download button:
.portfolio-resume {
    color: $color-white;
    z-index: 2;
    padding: 20px;
}

.resume-download {
    border: 1px solid $color-white;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-large;
    padding: 20px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    white-space: nowrap;
    &:hover {
        background-color: $color-white;
        color: $color-red;
        cursor: pointer;
        letter-spacing: 4px;
        transition: .2s ease-in-out;
    }
}

// Contact information table:
.portfolio-contact {
    color: $color-white;
    font-size: $font-size-xxsmall;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
    ul {
        @include display-flex;
        @include align-items(center);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        width: 100%;
        li {
            margin: 10px;
            white-space: nowrap;
            .i-label {
                border-bottom: 1px solid transparent;
                padding-bottom: 1px;
                transition: .2s ease-in-out;
            }
            a:hover {
                .i-label {
                    border-bottom: 1px solid $color-white;
                    transition: .2s ease-in-out;
                }   
            }
        }
    }
}

.i-label {
    transition: .2s ease-in-out;
}