// Font Families
$font-family-body: 'Montserrat', sans-serif;
$font-family-heading: 'Sacramento', serif;

// Font Sizes
$font-size-xxsmall: 10px;
$font-size-xsmall: 11px;
$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-large: 32px;
$font-size-heading: 60px;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Letter Spacing
$letter-spacing-normal: .25px;
$letter-spacing-medium: 1px;
$letter-spacing-large: 2px;
$letter-spacing-xlarge: 2.5px;

// Line Height
$line-height-normal: 1.25em;